<html>
    <head>
        <title>TIW - Sign up</title>
        
        <!-- Set a viewport to make the design responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="scripts/utility.js" type="text/javascript" defer></script>
        <script src="scripts/sign.js" type="text/javascript" defer></script>
        <link rel="stylesheet" href="css/sign.css" />
    </head>
    <body>
        <div class="error-popup error-container" id="error-popup">
            <p id="error-message"></p>
        </div>
        <div class="fine-popup fine-container" id="fine-popup">
            <p id="fine-message"></p>
        </div>
        <div class="outer-form">
            <div style="padding: 3px;" class="inner-form">
                <div class="error-container" th:if="${error}">
                    <p th:text="${errorMessage}">The passwords are not equal</p>
                </div>
                <div class="sign-form">
                    <h1>Sign up</h1>
                    <form method="post" action="signup">
                        <label class="sign-label">Username</label>
                        <br />
                        <input class="sign-input" type="text" name="username" id="username" />
                        <br />
                        <label class="sign-label">E-mail</label>
                        <br />
                        <input class="sign-input" type="email" name="email" id="email" />
                        <br />
                        <label class="sign-label">Password</label>
                        <br />
                        <input class="sign-input" type="password" name="password" id="password" />
                        <br />
                        <label class="sign-label">Repeat password</label>
                        <br />
                        <input class="sign-input" type="password" name="repeat-password" id="repeat-password" />
                        <br />
                        <input type="submit" class="button accent-button" value="Sign Up" />
                    </form>
                </div>
                <p class="extra-text"> Already have an account? <a class="link" href="signin">Sign in</a></p>
            </div>
        </div>
    </body>
</html>